<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-EnvioCorreoMasivo-b55e611c-5e35-4a4f-90c6-34c6eb1bfe8a;AttachDbFilename=|DataDirectory|\aspnet-EnvioCorreoMasivo-b55e611c-5e35-4a4f-90c6-34c6eb1bfe8a.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="testWebServiceConnectionString" connectionString="Data Source=(local);Initial Catalog=testWeService;Persist Security Info=True;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
    <!--<add name="dbTCConnectionString" connectionString="Data Source=(local);Initial Catalog=dbTC;Persist Security Info=True;User ID=sa;Password=Ngcl1309" providerName="System.Data.SqlClient"/>-->
    <add name ="ConStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}' "/>

  </connectionStrings>

</configuration>
